<div class="content py-sm-0 py-md-3 py-lg-5">
    <h1 class="text-center py-5">
        Events and activities
    </h1>


    <div class="container">
        <p> Embrace the Christmas spirit with Winter Wonderland in London's Hyde Park. This free-to-enter family event is one of the best things to do in London at Christmas. Featuring a huge selection of festive entertainment and activities, from ice skating
            and circus shows to a Christmas market and live music, there's enough fun things to do to fill a whole day and evening. Take a look at what's usually happening at Hyde Park's Winter Wonderland and check the top tips to make the most of your
            next visit to Winter Wonderland in London.</p>

        <div class="card">
            <div class="card-header" id="free-activities">
                <h5 class="mb-0">
                    Free or paid activities
                </h5>
            </div>

            <div class="card-body">
                <ul>
                    <li>Skate to live music on the Winter Wonderland ice rink, the UK's largest outdoor rink. </li>
                    <li>Watch world-class skaters in the heartwarming shows on ice. </li>
                    <li>Marvel at the acrobatic wonders at a circus show.</li>
                    <li> Soar into the sky on the iconic Giant Observation Wheel and see the twinkling London lights below. </li>
                    <li>Ride a traditional carousel or brave the giant loops of nine different rollercoasters at the fairground.</li>
                    <li> Get the Father-Christmas-style belly laughs going at the Winter Wonderland Comedy Club. </li>
                    <li>Create your very own ice sculpture at the Ice Sculpting workshops</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="christmas-markets">
                <h5 class="mb-0">
                    Christmas markets
                </h5>
            </div>
            <div class="card-body">
                <ul>
                    <li>
                        Browse the traditional German Christmas Market, one of the largest London Christmas markets, with more than 200 charming chalets overflowing with festive goods.
                    </li>
                    <li>
                        Explore the 150 chalets of the Angels Christmas Market and shop for unusual and unique gifts, arts and crafts, trinkets, jewellery and decorations.
                    </li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="family-adventures">
                <h5 class="mb-0">
                    Family adventures
                </h5>
            </div>
            <div class="card-body">
                <ul>
                    <li>
                        Enjoying carousel and helter-skelter rides at the traditional fairground with young kids or giving older children adrenaline-fuelled rides on the Winter Wonderland rollercoasters.
                    </li>
                    <li>
                        Being enchanted by daytime shows, which included Zippos Christmas Circus, Paddington on Ice and Mr Men and Little Miss – The Show
                    </li>
                    <li>
                        Stepping into Winter Wonderland Santa’s Grotto in Santa Land, where the little ones can meet Father Christmas and get a small free gift (if they’ve been good of course!) There’s also a host of fun rides for smaller children, including a 45m-long (148ft)
                        Ice Slide!
                    </li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="food-and-drink">
                <h5 class="mb-0">
                    Food and drink
                </h5>
            </div>
            <div class="card-body">
                <ul>
                    <li>Head to Winter Wonderland’s many restaurants, bars and food stalls for tasty food, mulled wine or warming hot chocolate.</li>
                    <li>Try festive German fare, such as German sausage and glühwein in the <strong>Bavarian Village</strong>.</li>
                    <li>Wrap up and relax with a cocktail at <strong>Bar Ice</strong>, where the bar, tables and even glasses are made of ice. Booking tickets ahead is essential.</li>
                    <li>Warm up at the <strong>Fire Pit</strong> bar with its crackling fires and uplifting live music.</li>
                    <li>Book an alpine cabin with karaoke machine at <strong>Bar Hütte</strong>, its friendly hosts will bring you Christmas cocktails and food.</li>
                </ul>
            </div>
        </div>

    </div>

</div>